<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/adminStyle.css">
    <title>Admin Page</title>
</head>

<body>
    <h1>Hello <span th:text="${user}"></span>, Here is the list of images uploaded by users and need approval from you.</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Image</th>
            <th>Accept</th>
            <th>Reject</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.name}">Name</td>
            <td th:text="${product.description}">Description</td>
            <td th:text="${product.category}">Category</td>
            <td><img th:src="${'http://localhost:8080/images/' + product.name}" th:alt="${product.name}" width="200" height="200"></td>
            <td>
                <form method="post" action="/approveProduct" enctype="multipart/form-data">
                    <button type="submit" name="approved" id="approved" th:value="${product.id} + ',' + ${user}">Accept</button>
                </form>
            </td>
            <td>
                <form method="post" action="/deleteProduct" enctype="multipart/form-data">
                    <button type="submit" name="rejected" id="rejected" th:value="${product.id} + ',' + ${user}">Reject</button>
                </form>
            </td>
        </tr>
    </table>
</body>


</html>