<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Yeshtery</title>
</head>

<body>

    <ul>
        <li><a class="active" href="/">Welcome to Yeshtery</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
    <div>
        <table>
            <tr>
                <td th:each="product : ${products}">
                    <img th:src="${'http://localhost:8080/images/' + product.name}" alt="${product.name}" width="200" height="200">
                </td>
            </tr>
        </table>
    </div>
</body>

</html>