<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
    <title>User Page</title>
</head>

<body>
    <h1>Hello <span th:text="${user}"></span> , now you can upload images.</h1>
    <table>
        <tr>
            <td th:each="product : ${products}">
                <img th:src="${'http://localhost:8080/images/' + product.name}" alt="${product.name}" width="200" height="200">
            </td>
        </tr>
    </table>
    <div>
        <h2>Form to upload image</h2>
        <form method="post" action="/addProduct" enctype="multipart/form-data">
            <br>
            <!-- Category -->
            <label for="Category">Choose a category:</label>
            <select name="Category" id="category">
                <option value="living thing">living thing</option>
                <option value="machine">machine</option>
                <option value="nature">nature</option>
            </select>
            <br>
            <!-- Description -->
            <textarea id="desc" name="desc" placeholder="Product Description"></textarea>
            <br>
            <input type="file" name="file" class="custom-file-input" id="customFile">
            <br>
            <!-- Sign in button -->
            <button type="submit" id="user" name="user" th:value="${user}">add</button>
        </form>
    </div>
</body>


</html>